<mat-toolbar color="primary">
    <span>Audio Transcription App</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <app-transcription-history (transcriptionSelected)="onTranscriptionSelected($event)"></app-transcription-history>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="main-content">
        <app-audio-upload></app-audio-upload>
        <div *ngIf="selectedTranscription" class="transcription-container">
          <h2>Transcription:</h2>
          <p>{{ selectedTranscription }}</p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  